MYSQL_PORT=3307
MYSQL_ROOT_PASSWORD=root

AUTH_DB_PASSWORD=auth_dev_change_me
PROFILE_DB_PASSWORD=profile_dev_change_me
CAMPAIGNS_DB_PASSWORD=campaigns_dev_change_me
LEDGER_DB_PASSWORD=ledger_dev_change_me
PRIZES_DB_PASSWORD=prizes_dev_change_me

ZOOKEEPER_PORT=2181
KAFKA_PORT=9092
KAFKA_UI_PORT=8088
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

AUTH_SERVICE_PORT=8081
PROFILE_SERVICE_PORT=8082
CAMPAIGNS_SERVICE_PORT=8083
LEDGER_SERVICE_PORT=8084
PRIZES_SERVICE_PORT=8085
BFF_SERVICE_PORT=8090
